.vs
/KrFontLoader.IPA/obj
/KrFontLoader.IPA/bin
/FontLoader.BepIn/bin
/FontLoader.BepIn/obj
/ImageRedirector/bin
/ImageRedirector/obj
/bin
/EzTransTest/bin
/EzTransTest/obj
/EzTransTranslate/bin
/EzTransTranslate/obj
/FontLoader.BepIn.5x/obj
/FontLoader.BepIn.5x/bin
/KK_KrFontLoader/obj
/KK_KrFontLoader/bin
/release
obj
bin
